 
.container{
    margin: 1%;
     
}

.daily_hightLight{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
    justify-content: center;
     
     
}
.dailyList{
    
    
    border-radius: 5px;
    width: 20%;
     
}
.img_info_back{
    position: relative;
     color: rgb(0, 0, 0);
     background-color: whitesmoke;
     
}
.img_info_back:hover{
    cursor: pointer;
    
    background-color: rgb(255, 255, 255);
     
}
.cd_cover{
    background-color: gray;
    position: absolute;
}
.cd_cover:hover{
    background-color: gray;
    position: absolute;
    opacity: 0.4;
}
.info{
    text-align: center;
    font-weight: 900;
}
.info2{
    text-align: center;
    font-weight: 600;
    font-size: small;
}