
.Like_container{
    margin: 1%;
}
.List_div{
    margin: 1%;
    width:95%;
    border: 1px solid black;
}
.thisList_title{
    display: flex;
    align-items: center;
}
.BackBTN{
    cursor: pointer;
}
.Myclass{
    margin: 1%;
    display: flex;
     width: 52%;
    gap: 15px;
}
.ClassDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color:  rgb(243, 243, 243);
}
.ClassDiv:hover,.ClassTitle:hover{
    cursor: pointer;
}
 .imgDiv{
    background-color: white;
    padding: 4%;
    margin: auto;
    display: flex;
    border-radius:5px 5px 0 0 ;
    
    
 }
.ClassImg{
    height:auto;
    background-color: rgb(179, 179, 179);
    width: 100%;
    border-radius: 3px;
    
}
 .titleDiv{
    border-top: 1px solid black;
    text-align: center;
    width: 100%;
 }
.ClassTitle{
     
    font-weight: 600;
    margin: 1%;
}
.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    
}
.item:hover{
    /* background-color: rgb(238, 238, 238); */
}
.itemBlock{
    width: 100%;
    display: flex;
    align-items: center;
}
.musicThumb:hover,.musicTitle:hover,.musicchannel_name:hover ,.itemBlock:hover{
    cursor: pointer;
    
}
.item_info{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 1rem;
}
.itemOpt{
    width: 5%;
}
.itemOpt:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.musicThumb{
    width: 12%;
    padding: 1%;
}
.musicTitle{
    text-align: left;
    font-weight: 600;
}

.musicchannel_name{
    
}