
.Like_container{
    margin: 1%;
}
.List_div{
    margin: 1%;
    width:95%;
    border: 1px solid black;
}
.thisList_title{
    display: flex;
    align-items: center;
}
.BackBTN{
    cursor: pointer;
}
.Myclass{
    margin: 1%;
    display: flex;
    gap: 15px;
}
.ClassDiv{
     
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
}
.ClassDiv:hover,.ClassTitle:hover{
    cursor: pointer;
}
.ClassImg{
    background-color: rgb(179, 179, 179);
    width: 100%;
    border-radius: 5px;
}
 
.ClassTitle{
    margin: 1%;
}
.item{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
     
    border-bottom: 1px solid gray;
    
}
.item:hover,.musicTitle:hover,.musicchannel_name:hover{
    cursor: pointer;
}
.item_info{
    display: flex;
    flex-direction: column;
}
.musicThumb{
    width: 10%;
    padding: 1%;
}
.musicTitle{
    text-align: left;
    font-weight: 600;
}
.musicchannel_name{
    
}